<template>
  <v-app id="lectures">
    <v-container fluid>
      <v-card lg="12" md="8" sm="4">
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Lectures</h3>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-dialog
              v-model="dialog"
              persistent
              max-width="600px"
              hide-overlay
              transition="dialog-bottom-transition"
            >
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark v-on="on">Add Lectures</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Lecture Profile</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-card-text>
                      <v-form>
                        <v-text-field
                          label="Name"
                          name="name"
                          prepend-icon="mdi-account"
                          type="text"
                        />
                        <v-text-field
                          label="ID number"
                          name="uid"
                          prepend-icon="mdi-tag-text"
                          type="text"
                        />
                        <v-text-field
                          id="password"
                          label="Password"
                          name="password"
                          prepend-icon="mdi-lock"
                          type="password"
                        />
                      </v-form>
                    </v-card-text>
                    <v-row>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" text @click="dialog = false">Save</v-btn>
                        <v-btn color="red darken-1" text @click="dialog = false">Cancel</v-btn>
                      </v-card-actions>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-dialog>
          </v-card-actions>
          <v-list three-line>
            <template v-for="(item, index) in items">
              <v-divider v-if="item.divider" :key="index"></v-divider>

              <v-list-item v-else :key="item.name">
                <!-- <v-list-item-avatar>
                  <v-img :src="item.avatar"></v-img>
                </v-list-item-avatar>-->

                <v-list-item-content>
                  <v-list-item-name v-html="item.name"></v-list-item-name>
                  <v-list-item-usn v-html="item.usn"></v-list-item-usn>
                  <v-list-item-class v-html="item.class_id"></v-list-item-class>
                </v-list-item-content>
                <v-spacer></v-spacer>
                <v-btn fab>
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-list-item>
            </template>
          </v-list>
        </v-card>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: "Lectures",
  data: () => ({
    items: [
      {
        name: "Criston Mascarenhas",
        class_id: "8CSA",
        usn: "4VP16CS024"
      },
      { divider: true, inset: true }
    ],
    dialog: false
  })
};
</script>
