<template>
  <v-app app>
    <v-container fluid>
      <v-card lg="12" md="8" sm="4">
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Students</h3>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-dialog
              v-model="dialog"
              persistant
              hide-overlay
              max-width="800px"
              transition="dialog-bottom-transition"
            >
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark v-on="on">Add Students</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Student Profile</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field label="Legal first name*" required outlined></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Legal middle name"
                          hint="If not there leave blank."
                          outlined
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field label="Legal last name*" required outlined></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field label="USN*" required outlined></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-autocomplete :items="['8CSA', '8CSB']" label="Class" outlined></v-autocomplete>
                      </v-col>
                      <!-- <v-col cols="12">
                        <v-file-input
                          v-model="files"
                          color="primary"
                          counter
                          label="File input"
                          multiple
                          placeholder="Select student face photos"
                          prepend-icon="mdi-paperclip"
                          outlined
                          hint="make sure that hight resolution photos are uploaded"
                          persistent-hint
                          :show-size="1000"
                        >
                          <template v-slot:selection="{ index, text }">
                            <v-chip
                              v-if="index < 2"
                              color="deep-purple accent-4"
                              dark
                              label
                              small
                              >{{ text }}</v-chip
                            >

                            <span
                              v-else-if="index === 2"
                              class="overline grey--text text--darken-3 mx-2"
                              >+{{ files.length - 2 }} File(s)</span
                            >
                          </template>
                        </v-file-input>
                      </v-col>-->

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" text @click="dialog = false">Save</v-btn>
                        <v-btn color="red darken-1" text @click="dialog = false">Cancel</v-btn>
                      </v-card-actions>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-dialog>
          </v-card-actions>
        </v-card>

        <v-card-actions>
          <v-dialog
            v-model="cameraDialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
          >
            <v-card>
              <v-container>
                <div class="row">
                  <div class="col-md-6">
                    <h2>Current Camera</h2>
                    <code v-if="device">{{ device.label }}</code>
                    <div class="border">
                      <vue-web-cam
                        ref="webcam"
                        :device-id="deviceId"
                        width="100%"
                        @started="onStarted"
                        @stopped="onStopped"
                        @error="onError"
                        @cameras="onCameras"
                        @camera-change="onCameraChange"
                      />
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <select v-model="camera">
                          <option>-- Select Device --</option>
                          <option
                            v-for="device in devices"
                            :key="device.deviceId"
                            :value="device.deviceId"
                          >{{ device.label }}</option>
                        </select>

                        <v-select
                          v-model="device"
                          :items="devices"
                          item-text="label"
                          item-value="deviceID"
                          label="Select a Camera"
                          return-object
                          single-line
                        ></v-select>
                      </div>
                      <div class="col-md-12">
                        <v-btn color="blue darken-1" @click="onCapture">Capture</v-btn>
                        <v-btn
                          color="green darken-1"
                          text
                          @click="cameraDialog = false ,onStop();"
                        >Save</v-btn>
                        <v-btn
                          color="red darken-1"
                          text
                          @click="cameraDialog = false ,onStop();"
                        >Cancel</v-btn>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <h2>Captured Image</h2>
                    <figure class="figure">
                      <img :src="img" class="img-responsive" />
                    </figure>
                  </div>
                </div>
              </v-container>
            </v-card>
          </v-dialog>
        </v-card-actions>

        <v-list three-line>
          <template v-for="(item, index) in items">
            <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>

            <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

            <v-list-item v-else :key="item.name">
              <v-list-item-avatar>
                <v-img :src="item.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-name v-html="item.name"></v-list-item-name>
                <v-list-item-usn v-html="item.usn"></v-list-item-usn>
                <v-list-item-class v-html="item.class_id"></v-list-item-class>
              </v-list-item-content>
              <v-spacer></v-spacer>

              <v-btn @click="cameraDialog=true, onStart();" fab>
                <v-icon>mdi-camera</v-icon>
              </v-btn>
              <v-btn fab>
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-list-item>
          </template>
        </v-list>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
import { WebCam } from "vue-web-cam";

export default {
  name: "Students",
  components: {
    "vue-web-cam": WebCam
  },
  data: () => ({
    items: [
      { header: "Sudents" },
      {
        avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
        name: "Criston Mascarenhas",
        class_id: "8CSA",
        usn: "4VP16CS024"
      },
      { divider: true, inset: true }
    ],
    dialog: false,
    img: null,
    cameraDialog: false,
    camera: null,
    deviceId: null,
    images: [],
    devices: []
  }),
  computed: {
    device: function() {
      return this.devices.find(n => n.deviceId === this.deviceId);
    }
  },
  watch: {
    camera: function(id) {
      this.deviceId = id;
    },
    devices: function() {
      // Once we have a list select the first one
      const [first, ...tail] = this.devices;
      if (first) {
        this.camera = first.deviceId;
        this.deviceId = first.deviceId;
      }
    }
  },
  methods: {
    onCapture() {
      this.img = this.$refs.webcam.capture();
      this.images.push(this.img); //pushed array of images in base64 format
      console.log(this.images);
    },
    onStarted(stream) {
      console.log("On Started Event", stream);
    },
    onStopped(stream) {
      console.log("On Stopped Event", stream);
    },
    onStop() {
      this.$refs.webcam.stop();
    },
    onStart() {
      this.$refs.webcam.start();
    },
    onError(error) {
      console.log("On Error Event", error);
    },
    onCameras(cameras) {
      this.devices = cameras;
      console.log("On Cameras Event", cameras);
    },
    onCameraChange(deviceId) {
      this.deviceId = deviceId;
      this.camera = deviceId;
      console.log("On Camera Change Event", deviceId);
    }
  }
};
</script>

<style></style>
