<template>
  <v-app>
    <v-container fluid>
      <v-card cols="12" lg="12" sm="8" md="4">
        <v-card class="elevation-12" dark>
          <v-toolbar color="primary" flat>
            <v-toolbar-title>Take Attendance</v-toolbar-title>
            <v-spacer />
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field label="Login" name="login" prepend-icon="mdi-account" type="text" />
              <v-select :items="items" prepend-icon="mdi-google-classroom" label="Class ID"></v-select>
              <v-text-field
                id="password"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: "Login",
  data: () => ({
    items: ["7CSA", "7CSB", "8CSA", "8CSB"]
  }),
  props: {
    source: String
  }
};
</script>
