<template>
  <v-app>
    <v-container>
      <v-navigation-drawer
        v-model="drawer"
        color="red darken-3"
        :mini-variant="miniVariant"
        permanent
        :clipped="clipped"
        fixed
        flat
        app
      >
        <template v-slot:prepend>
          <v-list-item>
            <v-list-item-content>
              <img src="./assets/autosense.png" />
            </v-list-item-content>
          </v-list-item>
        </template>

        <v-divider></v-divider>
        <v-list dense>
          <v-list-item v-for="item in items" :key="item.title" :to="item.link">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar :clipped-left="clipped" fixed app>
        <v-btn @click.stop="miniVariant = !miniVariant, logos()" icon>
          <v-icon v-html="miniVariant ? 'mdi-menu' : 'mdi-menu-open'" />
        </v-btn>
        <v-spacer></v-spacer>
        <!-- <div class="d-flex align-center">
          <v-img
            alt="Autosense"
            class="shrink mt-1 hidden-sm-and-down"
            contain
            min-width="100"
            src="./assets/autosense.png"
            width="100"
          />
        </div>-->

        <v-spacer></v-spacer>
        <div class="my-2">
          <v-btn to="/admin" text large color="primary">Admin</v-btn>
        </div>
      </v-app-bar>

      <v-content fluid>
        <router-view></router-view>
      </v-content>
      <v-footer :fixed="fixed" app>
        <v-flex class="text-xs-right">
          <a href="https://crstnmac.me/" target="_blank" style="color: white">
            <span>crstnmac - &copy; 2020</span>
          </a>
          &nbsp;
        </v-flex>
      </v-footer>
    </v-container>
  </v-app>
</template>


<script>
export default {
  name: "App",

  data: () => ({
    clipped: false,
    drawer: true,
    fixed: false,
    miniVariant: true,
    right: true,
    rightDrawer: false,
    items: [
      { title: "Home", icon: "mdi-home-city", link: "/" },
      { title: "Student Registration", icon: "mdi-account", link: "/students" },
      {
        title: "Attendance",
        icon: "mdi-account-group-outline",
        link: "/attendance"
      },
      {
        title: "Lectures",
        icon: "mdi-account-tie",
        link: "/lectures"
      }
    ]
  })
};
</script>
