<template>
  <v-app id="home">
    <v-container fluid>
      <v-card cols="12" lg="12" sm="8" md="4">
        <v-card outlined>
          <v-card-title class="headline font-weight-bold mb-1">AutoSense</v-card-title>

          <v-list-item-group v-model="list">
            <v-divider></v-divider>

            <v-list-item v-for="list in lists" :key="list.title" two-line disabled>
              <v-list-item-content>
                <v-list-item-title>{{ list.title }}</v-list-item-title>
                <v-list-item-subtitle>
                  {{
                  list.subtitle
                  }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
          </v-list-item-group>

          <v-card-actions>
            <v-btn text to="/students">Register Faces</v-btn>
          </v-card-actions>
        </v-card>
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Home",
  data: () => ({
    lists: [
      { title: "Register", subtitle: "Register your name" },
      {
        title: "Take Photos",
        subtitle: "Upload photos either by the File Upload or using your Camera"
      },
      {
        title: "Train",
        subtitle: "Train the model for all users in the catalog"
      },
      {
        title: "Recognize",
        subtitle: "Recognize your face using browser camera"
      }
    ]
  })
};
</script>
